
<h2 class="meals-h2">DASHBOARD</h2>



<h2 class="meals-h3">Hello {{users.firstName}}</h2>




{{!-- <article class="meals-container">

    {{#each services}}

        {{#if this.isTopPkg }}
            <div class="card">
                <img class="item-pic" src={{this.imageURL}} alt={{this.name}}>
                <span class="item-name">{{this.name}}</span>
                <span class="item-syno">{{this.synopsis}}</span>
                <span class="item-price">{{this.price}}</span>        
            </div>
            {{/if}}

        {{/each}}
    </div>
</article>

<h2 class="meals-h3">MENU</h2>

<article class="meals-menu">

    {{#each services}}

        {{#unless this.isTopPkg }}
            <div class="menu-card">
                <div class="menu-item">
                    <span class="menu-name">{{this.name}}</span>
                    <span class="menu-price">{{this.price}}</span>        
                </div>
                <span class="menu-syno">{{this.synopsis}}</span>
            </div>
            {{/unless}}

        {{/each}}
    </div>
</article> --}}