<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            
            function makeAJAXRequest(method, url, data){
                if(data){ // Make an AJAX call using the provided data & method
                    console.log("Adding: "+data.name);
                    fetch(url, { 
                        method: method,
                        body: JSON.stringify(data),
                        headers: { 'Content-Type': 'application/json'} 
                    })
                    .then(response => response.json())
                    .then(json => {//responds with number of items in cart 
                        //changes the number beside the cart
                        $("span.glyphicon").text(`${json.data}`);
                    }).catch((err)=>{
                        console.log("Error Fetching");
                        alert(err.message);
                    }); 

                }else{  // Make an AJAX call without providing data using the method
                    fetch(url, { method: method })
                    .then(response => response.json())
                    .then(json => {
                        console.log(json);   
                    }).catch((message)=>{
                        alert(message);
                    });
                }
            }
            //makes ajax call to add a certain item by name to cart
            function addToCart(data){
                console.log("Calling add with: "+ data);
                makeAJAXRequest("POST", "/addProduct", {name: data});
            }

        </script>
    </head>

    </body>

        <h2 class="meals-h2">MEAL PACKAGES</h2>

        <h2 class="meals-h3">TOP MEALS</h2>
        <section class="cart">
            <img src=""/>
            <p>Cart</p>

        </section>

        <article class="meals-container">

            {{#each services}}

                {{#if this.isTopPkg }}
                    <div class="card">
                        {{!-- <img class="item-pic" src="{{this.imageUrl}}" alt="{{this.name}}"> --}}
                        <span class="item-name">{{this.name}}</span>
                        <span class="item-syno">{{this.synopsis}}</span>
                        <span class="item-price">{{this.price}}</span>        
                        <div>
                            <button type="button" onclick='addtoCart("{{name}}")'>
                                Add to Cart
                            </button>
                            <button>
                                Remove
                            </button>

                        </div>
                    </div>

                    {{/if}}

                {{/each}}
            </div>
        </article>

        <h2 class="meals-h3">MENU</h2>

        <article class="meals-menu">

            {{#each services}}

                {{#unless this.isTopPkg }}
                    <div class="menu-card">
                        <div class="menu-item">
                            <span class="menu-name">{{this.name}}</span>
                            <span class="menu-price">{{this.price}}</span>        
                        </div>
                        <span class="menu-syno">{{this.synopsis}}</span>
                    </div>

                    <div>
                            <button type="button" onclick='addToCart("{{name}}")'>
                                Add to Cart
                            </button>
                            <button>
                                Remove
                            </button>

                        </div>
                    {{/unless}}

                {{/each}}
            </div>
        </article>

    </body>
</html>